:root {
 --main-theme:rgb(228, 228, 14);   
    
}
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
body {
    max-width: 1200px;
    margin: 0 auto;
}
.container {
height: 100vh;
display: flex;
flex-direction: column;
max-width: 1200px;
}


.nav {

    display: flex;
    height: 180px;
    color:black;
    padding: 10px;
border: 1px solid black;
background-color: rgb(228, 228, 14);
justify-content: space-between;
align-items: center;
}
.title {
    display: flex;
font-size: 2.4rem;
}
.title-first {
font-family: 'Frijole';
    margin-right: 5px;
}
.title-second {
    color: white;
    margin-right: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
cursor: pointer;
}
input {
    font-size: 1.7rem;
    width: 300px;
    height: 40px;
}
.search-bar img {
    /* border: 1px solid black; */
    background-color: yellow;
    padding: 2px;
    border-radius: 0 5px 5px 0;
}
.search-bar img:hover, :focus {
opacity:80%;
}
.icon-fist {
    width: 15%;  
}
.basket img {
    /* border: 1px solid black; */
    vertical-align: bottom;
}
.amount {
    font-size: 1.3rem;
}
.cross {
font-size: 1.3rem;
    cursor: pointer;
    opacity: 80%;
}
.category {
    font-size: 1.5rem;
    font-family: serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}
.category > * {
}
.sub-category {
    padding: 15px;
text-align: center;
}
.options {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: space-around;
}
.list-of-product {
border: 1px solid black;

}